In [1]:
import pandas as pd

data = pd.read_csv('../Datasets/df_modelagem_clone_to_predict.csv')

data.head()

,Berth Name,Terminal Name,Time At Berth,Time At Port,Vessel Type - Generic,Commercial Market,Voyage Distance Travelled,Voyage Speed Average,Year of build,Voyage Origin Port,Flag,Gross tonnage,Deadweight,Length,Breadth
0,11,0,2.674149,2.708050,3,0,1208.0,15.9,2004,6,26,178,260,81,21
1,9,2,2.939162,2.954910,11,4,27.0,4.8,2004,64,27,81,149,106,3
2,8,2,2.862201,3.718438,14,7,4.0,5.2,2007,105,32,156,274,116,7
3,11,0,3.095578,3.100092,3,0,281.0,14.9,2005,2,10,231,9,93,25
4,5,2,-1.203973,2.827314,5,6,2.0,5.2,2005,106,27,130,112,77,0

In [2]:
avaliacao = data[['Berth Name', 'Time At Port']].tail(10)

data = data.drop(columns=['Time At Berth'])

In [3]:



data = data.astype('int32')
data = data.tail(10)

In [4]:
import mlflow
logged_model = 'runs:/a8a10a5d9f854776985177c57b5744e7/model'

# Load model as a PyFuncModel.
loaded_model = mlflow.pyfunc.load_model(logged_model)


# Predict on a Pandas DataFrame.
import pandas as pd
result = loaded_model.predict(pd.DataFrame(data))

#convert result to dataframe
result = pd.DataFrame(result)
result

          0
0  2.989458
1 -1.050317
2 -1.063289
3  1.928909
4 -1.050317
5 -0.682658
6 -0.682658
7 -0.682658
8 -0.682658
9 -0.682658

In [5]:
original = pd.read_csv('../Datasets/df_modelagem_clone_to_predict.csv')

original[['Time At Berth']].head(10)

   Time At Berth
0       2.674149
1       2.939162
2       2.862201
3       3.095578
4      -1.203973
5       3.496508
6      -0.916291
7       2.821379
8       0.336472
9       2.753661